.contact-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
  }
  
  .contact-title {
    font-size: 2.25rem; 
    font-weight: 800; 
    text-align: center; 
    margin-bottom: 1.75rem; 
  }
  
  .contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px; 
  }
  